
@import '~botui/build/botui.min.css';
@import '~botui/build/botui-theme-default';

.botui-app-container {
  max-width: 600px;
  width: 100%;
  height: 60vh;
  padding-bottom: 20vh;
  display: flex;
  margin: 0;
  align-items: flex-end;
}

.botui-container {
  background: transparent;
  overflow: hidden;
  height: auto;
}

.botui-message {
  overflow: auto;
}

.botui-message-content {
  font-size: 1.3rem;
  background: #af45a7;
  color: white;
}

.botui-message-content.human {
  background: #4160c4;
}

.botui-actions-buttons-button {
  font-size: 1.3rem;
  background: #af45a7;
  outline: 0;
}
button.botui-actions-buttons-button {
  font-size: 1.3rem;
  outline: 0;
}

input.botui-actions-text-input {
  font-size: 1.3rem;
  color: white;
  border-bottom: 3px solid #af45a7; 
}
