@import './botui';

$primary: rgba(76,44,114,1);
$secondary: rgba(186,44,115,1);
$info: rgb(211, 211, 211);

$carousel-control-color: $primary;
$carousel-caption-color: $primary;
$carousel-indicator-active-bg: $primary;

$headings-font-family: 'Raleway', serif;

@import '~bootstrap/scss/bootstrap';

.mh-vh {
  min-height: 100vh;
}

.mh-40vh {
  min-height: 40vh;
}

.w-50vh {
  width: 50vw;
}

.mw-40 {
  max-width: 40rem;
}

.mw-50 {
  max-width: 50rem;
}

.w-connector {
  width: 18px;
}

.icon-lg {
  font-size: 48pt;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pt-6 {
  padding-top: 4rem;
}

.bg-gradient {
  background: rgb(18,44,52);
  background: linear-gradient(295deg, rgba(18,44,52,1) 0%, rgba(76,44,114,1) 35%, rgba(186,44,115,1) 100%);
}

.static-col {
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

.role-switcher {
  text-align: right;
  position: relative;
  
  div {
    position: absolute;
    right: 0;
  }
}

@include media-breakpoint-down(xs) {
  .role-switcher {
    width: 6em;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@include media-breakpoint-only(sm) {
  .role-switcher {
    width: 8em;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@include media-breakpoint-between(md, xl)  {
  .role-switcher {
    width: 12em;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@include media-breakpoint-up(xl) {
  .role-switcher {
    width: 13em;
  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.skill-info {
  min-height: 14rem;
  position: relative;
  
  div {
    position: absolute;
  }
}

.skill-square {
  z-index: 1010;
  background: $primary;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 8em;
  height: 8em;
  color: white;
  transition: 0.2s;
  border: 3px solid transparent;
}

.skill-square:hover {
  transform: scale(1.1);
}

.main {
  .article {
  }
}

.article-extension {
  display: none;
}

#connectors {
  pointer-events:none;
  z-index: 1000;
  
  .connector {
    stroke: $secondary;
    stroke-width: 18;
    stroke-linecap: "round";
    stroke-linejoin: "round";
    fill: none;
  }
}